#notloading {
    display: none;
}

#loading {
    display: inline;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid rgb(136, 194, 255);
}

.disclaimer {
    color: rgb(0, 123, 255);
}

.myForm {
    padding-top: 1rem;
    border-top: 2px solid rgb(136, 194, 255);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.banner {
    position: relative;
    display: inline-block;
}

.text-box {
    position: absolute;    
    height: 100%;
    text-align: center;    
    width: 100%;
    vertical-align: middle;

}
.text-box:before {
    content: '';
    display: inline-block;
    height: 80%;
    vertical-align: bottom;
 }

.banner h1, .banner h2 {
    display: inline-block;
    color: #FFF;   
}

.banner h2 {
    overflow: hidden;
}

p {
    margin-bottom: 0rem;
}

@media screen and (max-width: 770px) {
    .text-box h1 {
        font-size: 1.5rem;
    }

    .text-box h2 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .text-box h1 {
        font-size: 1rem;
    }

    .text-box h2 {
        font-size: 0.75rem;
    }

    .myForm h2 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 400px) {
    .disclaimer {
        font-size: 0.75rem;
    }
    .navbar-brand span {
        display: none;
    }
    .App {
        margin-top: 3.5rem;
    }
    .myForm input, .myForm select, p {
        font-size: 0.9rem;
    }

    .myForm h2 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 350px) {
    .mt-4 {
        margin-top: 0.5rem !important;
    }
    
    .container {
        padding: 0.7rem;
    }

    .container.mt-4 {
        margin-top: 0rem !important;
    }
    
    .myForm {
        padding-top: 0.5rem;
    }
    .text-box h1 {
        font-size: 0.75rem;
    }

    .text-box h2 {
        font-size: 0.5rem;
    }

    .myForm h2 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }
    .navbar-brand span {
        display: none;
    }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
    .myForm input, .myForm select {
        height: 1.75rem;
        font-size: 0.7rem;
    }
    .disclaimer {
        font-size: 0.65rem;
        margin-bottom: 0rem;
    }

    h6, .myForm h2 {
        margin-bottom: 0rem;
    }

    .myForm h2 {
        font-size: 1rem;
    }
    
    h4 {
        font-size: 0.75rem;
        margin-bottom: 0.1rem;
    }

    button {
        height: 1.75rem; 
        font-size: 0.8rem !important;
        padding-top: 0.1rem !important;
    }
    p {
        font-size: 0.7rem !important;
    }
}