.card {
    max-width: 40rem;
    margin: 0 auto;
    border: 2px solid rgb(136, 194, 255) !important; 
    border-radius: 1rem !important;
}


.title {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid  lightgrey;
    border-radius: 0.3rem;

}

.content {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;

    color: rgb(0, 123, 255);
    border: 1px solid  lightgrey;
    border-radius: 0.3rem;

}

.content-show {
    height: auto;
    max-height: max-content;
    padding-top: 0.5rem;
    color: rgb(0, 123, 255);
    border: 1px solid  lightgrey;
    border-radius: 0.3rem;


}

h6, span {
    padding: 0 0.3rem;
    padding-top: 0.3rem;
}

.title {
    color: rgb(0, 123, 255);
}

.money {
    font-weight: bold;
}

.addresses {
    font-style: italic;
}